h1{
    padding-top: 40px;
    text-align: center;
    font-size: 100;
    font-weight: bolder;
}
h3{
    text-align: center;
    font-size: 80;
}

body{
   
    im
}

#teapot{
    padding-left: 560px;
}

a{
    padding-top: 40px;
    color: black;
    padding-left: 605px;
    text-decoration: none;

}