h1{
    padding-top: 40px;
    text-align: center;
    font-size: 100;
    font-weight: bolder;
}
h3{
    text-align: center;
    font-size: 80;
}

body{
    background-color: rgb(201, 198, 198);
    color: rgb(37, 37, 37);
    
}

#teapot{
    padding-left: 430px;
}

a{
    padding-top: 40px;
    color: black;
    padding-left: 475px;
    text-decoration: none;

}

a:hover{
    color: blue;
}

a:visited{
    color: darkblue
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding-bottom: 140px;
    padding-top: 50px;
}